@charset "UTF-8";
@font-face {
  font-family: "kozhevnikov";
  src: url("icons/fonts/kozhevnikov.ttf?w4fr3r") format("truetype"), url("icons/fonts/kozhevnikov.woff?w4fr3r") format("woff"), url("icons/fonts/kozhevnikov.svg?w4fr3r#kozhevnikov") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "kozhevnikov" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelope-open-o:before {
  content: ""; }

.icon-paper-plane-o:before {
  content: ""; }

.icon-paper-plane:before {
  content: ""; }

.icon-envelope:before {
  content: ""; }

.icon-telegram:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-vk:before {
  content: ""; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  background: #e8eaed;
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: .45px;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none; }

.container {
  padding: 0 15px; }

.google-form {
  width: 640px;
  margin: 50px 10px 0; }

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.info {
  color: #ffffff;
  display: flex; }

.info__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(https://avatars3.githubusercontent.com/u/12899080?s=160&v=4);
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
  margin-right: 15px;
  margin-top: 3px; }

.info__link .icon {
  display: inline-block;
  transition: transform .9s ease;
  transform: translateX(0); }
.info__link:hover .icon {
  transform: translateX(3px);
  transition: transform .2s; }

h1, h2, h3 {
  font-weight: 300; }

a {
  color: #ffffff;
  text-decoration: none;
  transition: color .9s ease; }
  a:hover, a:active {
    transition: color .1s;
    color: #d3d9e4; }

.info__title {
  margin: 0 0 10px; }

.info__subtitle {
  margin: 0 0 10px;
  font-size: 1.3em; }
  @media screen and (max-width: 375px) {
    .info__subtitle {
      font-size: 1.2em; } }

.socials {
  margin-top: 10px;
  display: flex; }

.info__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap; }

.info__link_contact {
  margin-top: 10px; }

.socials__link {
  font-size: 25px;
  margin-right: 4px; }
  .socials__link:last-child {
    margin-right: 0; }

.quad-icon {
  background: #ffffff40;
  color: #fff;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: color .1s, background-color .9s ease-out;
  letter-spacing: 0; }
  .quad-icon:hover {
    transition: color .6s, background-color .1s;
    color: #616479;
    background: #ffffff;
    text-decoration: none; }
  .quad-icon .icon {
    line-height: 30px; }
  .quad-icon .icon-paper-plane {
    font-size: 20px; }

/*# sourceMappingURL=main.css.map */
