.waves {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}

.bgTop {
  z-index: 15;
  opacity: 0.6;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.5;
}

.bgBottom {
  z-index: 5;
  opacity: .4;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-size: 50% 60%;
}

.waveAnimation .waveTop {
  will-change: transform;
  animation: move_wave 12s linear infinite;
  -webkit-animation: move_wave 12s linear infinite;
}

.waveAnimation .waveMiddle {
  will-change: transform;
  animation: move_wave 10s linear infinite;
}

.waveAnimation .waveBottom {
  will-change: transform;
  animation: move_wave 15s linear infinite;
}


#Clouds {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  margin: auto;
  height: 30%;
  overflow: hidden;
  will-change: opacity;
  animation: fade-in 3s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 70px;
  will-change: transform;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: float, fade-float;
  z-index: 1;
}

.Cloud.Foreground {
  height: 10%;
  min-height: 20px;
  z-index: 3;
}

.Cloud.Background {
  height: 9%;
  min-height: 8px;
  animation-duration: 210s;
}


@keyframes float {
  0% {
    transform: translateX(100%) translateY(-100%) translateZ(0);
  }
  50% {
    transform: translateX(55%) translateY(0) translateZ(0);
  }
  100% {
    transform: translateX(-5%) translateY(-100%) translateZ(0);
  }
}

@keyframes fade-float {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}

.Cloud:nth-child(10) {
  animation-delay: -184s;
  top: 60%;
}

.Cloud.Foreground:nth-child(10) {
  animation-duration: 80s;
  height: 35%;
}

.Cloud.Background:nth-child(10) {
  animation-duration: 110s;
  height: -3%;
}

.Cloud:nth-child(9) {
  animation-delay: -166s;
  top: 54%;
}

.Cloud.Foreground:nth-child(9) {
  animation-duration: 84s;
  height: 32.5%;
}

.Cloud.Background:nth-child(9) {
  animation-duration: 114s;
  height: -2%;
}

.Cloud:nth-child(8) {
  animation-delay: -147s;
  top: 48%;
}

.Cloud.Foreground:nth-child(8) {
  animation-duration: 88s;
  height: 30%;
}

.Cloud.Background:nth-child(8) {
  animation-duration: 118s;
  height: -1%;
}

.Cloud:nth-child(7) {
  animation-delay: -129s;
  top: 42%;
}

.Cloud.Foreground:nth-child(7) {
  animation-duration: 92s;
  height: 27.5%;
}

.Cloud.Background:nth-child(7) {
  animation-duration: 122s;
  height: 0.3%;
}

.Cloud:nth-child(6) {
  animation-delay: -110s;
  top: 36%;
}

.Cloud.Foreground:nth-child(6) {
  animation-duration: 96s;
  height: 25%;
}

.Cloud.Background:nth-child(6) {
  animation-duration: 126s;
  height: 1%;
}

.Cloud:nth-child(5) {
  animation-delay: -92s;
  top: 30%;
}

.Cloud.Foreground:nth-child(5) {
  animation-duration: 100s;
  height: 22.5%;
}

.Cloud.Background:nth-child(5) {
  animation-duration: 130s;
  height: 3%;
}

.Cloud:nth-child(4) {
  animation-delay: -73s;
  top: 24%;
}

.Cloud.Foreground:nth-child(4) {
  animation-duration: 104s;
  height: 20%;
}

.Cloud.Background:nth-child(4) {
  animation-duration: 134s;
  height: 4%;
}

.Cloud:nth-child(3) {
  animation-delay: -55s;
  top: 18%;
}

.Cloud.Foreground:nth-child(3) {
  animation-duration: 108s;
  height: 17.5%;
}

.Cloud.Background:nth-child(3) {
  animation-duration: 138s;
  height: 5%;
}

.Cloud:nth-child(2) {
  animation-delay: -36s;
  top: 12%;
}

.Cloud.Foreground:nth-child(2) {
  animation-duration: 112s;
  height: 15%;
}

.Cloud.Background:nth-child(2) {
  animation-duration: 142s;
  height: 7%;
}

.Cloud:nth-child(1) {
  animation-delay: -18s;
  top: 6%;
}

.Cloud.Foreground:nth-child(1) {
  animation-duration: 116s;
  height: 12.5%;
}

.Cloud.Background:nth-child(1) {
  animation-duration: 146s;
  height: 7%;
}

.Cloud {
  background-image: url(/images/clouds/cloud_orange.svg);
}

.Cloud.Background {
  background-image: url(/images/clouds/cloud_yellow.svg);
}