$icomoon-font-family: "kozhevnikov" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelope-open-o: "\e900";
$icon-paper-plane-o: "\e901";
$icon-paper-plane: "\e902";
$icon-envelope: "\e903";
$icon-telegram: "\e904";
$icon-linkedin: "\e905";
$icon-github: "\e906";
$icon-vk: "\e907";

